# =============================================================================
# terraform.tfvars.example — Prod Environment
# =============================================================================
# cp terraform.tfvars.example terraform.tfvars
# =============================================================================

aws_region      = "us-west-2"
prod_account_id = "333333333333"   # your prod account ID
project         = "aws-transit-gw-learn"

# From: cd ../network && terraform output transit_gateway_id
transit_gateway_id = "tgw-xxxxxxxxxxxxxxxxx"

# From: cd ../network && terraform output prod_ipam_pool_id
prod_ipam_pool_id = "ipam-pool-xxxxxxxxxxxxxxxxx"

tgw_route_destination = "10.0.0.0/16"
availability_zones    = ["us-west-2a", "us-west-2b"]
